.dropzone.dropzone-single {
    width: 155px;
    height: 210px;
    padding: 0;
}

.dropzone.dropzone-single .dz-message {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 210px;
}

.dropzone.dropzone-single .dz-message span {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

.dropzone.dropzone-single .dz-preview {
    width: 100%;
    height: 100%;
    margin: 0;
}

.dropzone.dropzone-single .dz-preview .dz-details {
    margin: 0;
    width: 140px;
    height: 160px;
}

.dropzone.dropzone-single .dz-preview .dz-details .dz-filename {
    display: none;
}

.dropzone.dropzone-single .dz-preview .dz-details .dz-size {
    display: none;
}

.dropzone.dropzone-single .dz-preview .dz-progress {
    top: auto;
    bottom: 40px;
}

.dropzone.dropzone-single .dz-preview a.dz-remove {
    margin-top: 6px;
}